.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    padding: 1rem;
    background-color: var(--footer-background-color);
}

.footer a {
    text-decoration: none;
    color: black;
}

@media (max-width: 550px) {
    .footer {
        flex-direction: column;
    }

}