.news-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;


}

.nt-container {
    width: 100%;
    padding: 1rem;
}


.news-head {
    padding-left: 1rem;
    padding-right: 1rem;
}

.news-date {
    margin-top: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}