.loading {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.news-grid {
    display: grid;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: auto;
    grid-template-areas:
            "marticle marticle marticle one"
            "marticle marticle marticle two"
            "marticle marticle marticle three"
            "four five six seven";
}

.main-article {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    grid-area: marticle;
    color: var(--card-text-color);
}


.img-container {
    justify-content: flex-end;
    width: 100%;
    height: 50%;
    padding:1rem;
    background: url('../../assets/main-article-pic.png')
                    no-repeat center center/cover ;
    backdrop-filter: saturate(0%);


}

.main-article-title {
    padding: 1rem;
}

.article-line {
    height: 3px;;
    margin-left:1rem;
    margin-right: 1rem;
    background-color: var(--article-line-color);
    border-radius: 10px;
}

.main-article-header,
.main-article-body,
.main-article-date {
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-article-date {
    margin-top: auto;
    padding-bottom: 1rem;
}


@media (max-width: 1000px) {
    .news-grid {
        grid-template-columns: auto;
        grid-template-areas:
            "marticle marticle marticle"
            "marticle marticle marticle"
            "one one one"
            "two three four"
            "five six seven";
    }
    
}

@media (max-width: 600px) {
    .news-grid {
        grid-template-columns: auto;
        grid-template-areas:
            "marticle marticle"
            "marticle marticle "
            "one one"
            "two three"
            "four five"
            "six seven";
    }
}

@media (max-width: 400px) {
    .news-grid {
        grid-template-columns: auto;
        grid-template-areas:
            "marticle"
            "marticle"
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven";
    }
}

._1 {grid-area: one;}
._2 {grid-area: two;}
._3 {grid-area: three;}
._4 {grid-area: four;}
._5 {grid-area: five;}
._6 {grid-area: six;}
._7 {grid-area: seven;}



